{extend name="adminPublic:public"/} {block name="title"}公告管理{/block} {block name="content"}
<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span>
            <i class="icon-ok"></i> 新增公告内容</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form id="mws-validate" class="mws-form" action="/announce/insert" method="post" novalidate="novalidate" enctype="multipart/form-data">
            <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
            <div class="mws-form-inline">
                <div class="mws-form-row">
                    <label class="mws-form-label">公告标题</label>
                    <div class="mws-form-item">
                        <input class="large" type="text" name="name">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">公告内容</label>
                    <div class="mws-form-item">
                        <textarea rows="" cols="" class="large autosize" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 130px;" name="describe" id="content" ></textarea>
                    </div>
                </div>
              
               
                
                <div class="mws-form-row">
                    <label class="mws-form-label">公告插图</label>
                    <div class="mws-form-item">
                        <div class="fileinput-holder" style="position: relative;">
                            
                                <input name="pic" class="required" style="position: absolute; top: 0px; right: 0px; margin: 0px; cursor: pointer; font-size: 999px; opacity: 0; z-index: 999;"
                                    type="file">
                          
                        </div>
                        <label for="picture" class="error" generated="true" style="display:none"></label>
                    </div>
                </div>
            </div>
            <div class="mws-button-row">
                <input class="btn btn-danger" type="submit" value="提交">
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    UE.getEditor('content', { initialFrameWidth: 800, initialFrameHeight: 200 })
</script>
{/block}