<div class="site-footer">
    <div class="container">
        <div class="footer-service">
            <ul class="list-service clearfix">
                <li>
                    <a rel="nofollow" href="https://www.mi.com/static/fast/" target="_blank" data-stat-id="09c7759e04e98528" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-09c7759e04e98528', '//www.mi.com/static/fast/', 'pcpid', '']);">
                        <i class="iconfont"></i>预约维修服务</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.mi.com/service/exchange#back" target="_blank" data-stat-id="5380b4f1f26958ea" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-5380b4f1f26958ea', '//www.mi.com/service/exchange#back', 'pcpid', '']);">
                        <i class="iconfont"></i>7天无理由退货</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.mi.com/service/exchange#back" target="_blank" data-stat-id="0ec4b8aeb89038ef" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-0ec4b8aeb89038ef', '//www.mi.com/service/exchange#back', 'pcpid', '']);">
                        <i class="iconfont"></i>15天免费换货</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.mi.com/service/buy/postage/" target="_blank" data-stat-id="69c6d4a09d1ce277" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-69c6d4a09d1ce277', '//www.mi.com/service/buy/postage/', 'pcpid', '']);">
                        <i class="iconfont"></i>满150元包邮</a>
                </li>
                <li>
                    <a rel="nofollow" href="https://www.mi.com/static/maintainlocation/" target="_blank" data-stat-id="47663ce91c9b4c6f" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-47663ce91c9b4c6f', '//www.mi.com/static/maintainlocation/', 'pcpid', '']);">
                        <i class="iconfont"></i>520余家售后网点</a>
                </li>
            </ul>
        </div>
        <div class="footer-links clearfix">

            <dl class="col-links col-links-first">
                <dt>帮助中心</dt>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/service/account/register/" target="_blank" data-stat-id="cbf879ec5555acc8" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-cbf879ec5555acc8', '//www.mi.com/service/account/register/', 'pcpid', '']);">账户管理</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/service/buy/buytime/" target="_blank" data-stat-id="cc5e2e04a7468948" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-cc5e2e04a7468948', '//www.mi.com/service/buy/buytime/', 'pcpid', '']);">购物指南</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/service/order/sendprogress/" target="_blank" data-stat-id="129ad32e2936fa21" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-129ad32e2936fa21', '//www.mi.com/service/order/sendprogress/', 'pcpid', '']);">订单操作</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>服务支持</dt>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/service/exchange" target="_blank" data-stat-id="e4e8494b929c27cc" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e4e8494b929c27cc', '//www.mi.com/service/exchange', 'pcpid', '']);">售后政策</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="http://fuwu.mi.com/" target="_blank" data-stat-id="be93301b03ea9d9a" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-be93301b03ea9d9a', 'http://fuwu.mi.com/', 'pcpid', '']);">自助服务</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="http://xiazai.mi.com/" target="_blank" data-stat-id="5f33d0eb49c69eea" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-5f33d0eb49c69eea', 'http://xiazai.mi.com/', 'pcpid', '']);">相关下载</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>线下门店</dt>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/c/xiaomizhijia/" target="_blank" data-stat-id="e3093a95cf90118a" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e3093a95cf90118a', '//www.mi.com/c/xiaomizhijia/', 'pcpid', '']);">小米之家</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/static/maintainlocation/" target="_blank" data-stat-id="426ca0b21055ecce" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-426ca0b21055ecce', '//www.mi.com/static/maintainlocation/', 'pcpid', '']);">服务网点</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/static/familyLocation/" target="_blank" data-stat-id="7108b7f3b6c08f0e" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-7108b7f3b6c08f0e', '//www.mi.com/static/familyLocation/', 'pcpid', '']);">零售网点</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>关于小米</dt>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/about/" target="_blank" data-stat-id="7793e051987d4005" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-7793e051987d4005', '//www.mi.com/about/', 'pcpid', '']);">了解小米</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="http://hr.xiaomi.com/" target="_blank" data-stat-id="ef2903728d7fdadf" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-ef2903728d7fdadf', 'http://hr.xiaomi.com/', 'pcpid', '']);">加入小米</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/about/contact/" target="_blank" data-stat-id="ef5b42063eda339b" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-ef5b42063eda339b', '//www.mi.com/about/contact/', 'pcpid', '']);">联系我们</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>关注我们</dt>

                <dd>
                    <a rel="nofollow" href="http://weibo.com/xiaomishangcheng" target="_blank" data-stat-id="c76038c110f7e33f" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-c76038c110f7e33f', 'http://weibo.com/xiaomishangcheng', 'pcpid', '']);">新浪微博</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="http://xiaoqu.qq.com/mobile/share/index.html?url=http%3A%2F%2Fxiaoqu.qq.com%2Fmobile%2Fbarindex.html%3Fwebview%3D1%26type%3D%26source%3Dindex%26_lv%3D25741%26sid%3D%26_wv%3D5123%26_bid%3D128%26%23bid%3D10525%26from%3Dwechat"
                        target="_blank" data-stat-id="a3992aa3363de0ff" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-a3992aa3363de0ff', 'http://xiaoqu.qq.com/mobile/share/index.htmlurl=http3A2F2Fxiaoqu.qq.com2Fmobile2Fbarindex.html3Fwebview3D126type3D26source3Dindex26_lv3D2574126sid3D26_wv3D512326_bid3D1282623bid3D1052526from3Dwechat', 'pcpid', '']);">小米部落</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="#J_modalWeixin" data-toggle="modal" data-stat-id="d510962f8f7e78df" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-d510962f8f7e78df', '#J_modalWeixin', 'pcpid', '']);">官方微信</a>
                </dd>

            </dl>

            <dl class="col-links ">
                <dt>特色服务</dt>

                <dd>
                    <a rel="nofollow" href="https://order.mi.com/queue/f2code" target="_blank" data-stat-id="600fe7ff75e6569f" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-600fe7ff75e6569f', '//order.mi.com/queue/f2code', 'pcpid', '']);">F 码通道</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://www.mi.com/giftcode/" target="_blank" data-stat-id="8ecb47b996b7c48e" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-8ecb47b996b7c48e', '//www.mi.com/giftcode/', 'pcpid', '']);">礼物码</a>
                </dd>

                <dd>
                    <a rel="nofollow" href="https://order.mi.com/misc/checkitem" target="_blank" data-stat-id="e47e9638c6c00023" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e47e9638c6c00023', '//order.mi.com/misc/checkitem', 'pcpid', '']);">防伪查询</a>
                </dd>

            </dl>

            <div class="col-contact">
                <p class="phone">400-100-5678</p>
                <p>
                    周一至周日 8:00-18:00
                    <br>（仅收市话费）
                </p>
                <a rel="nofollow" class="btn btn-line-primary btn-small" href="https://www.mi.com/service/contact/" target="_blank" data-stat-id="36f87850d91f1600"
                    onclick="_msq.push(['trackEvent', '81190ccc4d52f577-36f87850d91f1600', '//www.mi.com/service/contact/', 'pcpid', '']);">
                    <i class="iconfont"></i> 24小时在线客服</a>
            </div>
        </div>
    </div>
</div>
<div class="site-info">
    <div class="container">
        <div class="logo ir">小米官网</div>
        <div class="info-text">
            <p class="sites">
                <a rel="nofollow" href="https://www.mi.com/index.html" target="_blank" data-stat-id="4bc9b84ee8285a77" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-4bc9b84ee8285a77', '//www.mi.com/index.html', 'pcpid', '']);">小米商城</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://www.miui.com/" target="_blank" data-stat-id="3eacd7463818528f" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-3eacd7463818528f', 'http://www.miui.com/', 'pcpid', '']);">MIUI</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://home.mi.com/index.html" target="_blank" data-stat-id="a81398a7da4c48b0" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-a81398a7da4c48b0', 'http://home.mi.com/index.html', 'pcpid', '']);">米家</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://www.miliao.com/" target="_blank" data-stat-id="8fa92518f4f4139b" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-8fa92518f4f4139b', 'http://www.miliao.com/', 'pcpid', '']);">米聊</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://www.duokan.com/" target="_blank" data-stat-id="1f6c407355aa2960" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-1f6c407355aa2960', 'http://www.duokan.com/', 'pcpid', '']);">多看</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://www.miwifi.com/" target="_blank" data-stat-id="89c8a04b65d5a2cc" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-89c8a04b65d5a2cc', 'http://www.miwifi.com/', 'pcpid', '']);">路由器</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="https://www.mi.com/micard/" target="_blank" data-stat-id="8383fc54e821723e" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-8383fc54e821723e', '//www.mi.com/micard/', 'pcpid', '']);">米粉卡</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://xiaomi.tmall.com/" target="_blank" data-stat-id="672cb7e9d4bcc2e6" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-672cb7e9d4bcc2e6', 'http://xiaomi.tmall.com/', 'pcpid', '']);">小米天猫店</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="http://www.miui.com/res/doc/privacy/cn.html" target="_blank" data-stat-id="c88f726c7acd8cde" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-c88f726c7acd8cde', 'http://www.miui.com/res/doc/privacy/cn.html', 'pcpid', '']);">隐私政策</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="https://static.mi.com/feedback/" target="_blank" data-stat-id="de622113e8f771bc" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-de622113e8f771bc', 'https://static.mi.com/feedback/', 'pcpid', '']);">问题反馈</a>
                <span class="sep">|</span>
                <a rel="nofollow" href="#J_modal-globalSites" data-toggle="modal" data-stat-id="372d1fe9f6763b90" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-372d1fe9f6763b90', '#J_modal-globalSites', 'pcpid', '']);">Select Region</a>
            </p>
            <p>©
                <a href="https://www.mi.com/" target="_blank" title="mi.com" data-stat-id="9633c739051c07ae" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-9633c739051c07ae', '//www.mi.com/', 'pcpid', '']);">mi.com</a> 京ICP证110507号
                <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" data-stat-id="9782c50fb4ba0561" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-9782c50fb4ba0561', 'http://www.miitbeian.gov.cn/', 'pcpid', '']);">京ICP备10046444号</a>
                <a rel="nofollow" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020134" target="_blank" data-stat-id="e9d2688beb41458a"
                    onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e9d2688beb41458a', 'http://www.beian.gov.cn/portal/registerSystemInforecordcode=11010802020134', 'pcpid', '']);">京公网安备11010802020134号 </a>
                <a rel="nofollow" href="https://c1.mifile.cn/f/i/2013/cn/jingwangwen.jpg" target="_blank" data-stat-id="5cbd7b49fa457c86"
                    onclick="_msq.push(['trackEvent', '81190ccc4d52f577-5cbd7b49fa457c86', '//c1.mifile.cn/f/i/2013/cn/jingwangwen.jpg', 'pcpid', '']);">京网文[2014]0059-0009号</a>

                <br> 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
        </div>
        <div class="info-links">
            <a rel="nofollow" href="https://privacy.truste.com/privacy-seal/validation?rid=4fc28a8c-6822-4980-9c4b-9fdc69b94eb8&amp;lang=zh-cn"
                target="_blank" data-stat-id="d79bd36766f023f0" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-d79bd36766f023f0', '//privacy.truste.com/privacy-seal/validationrid=4fc28a8c-6822-4980-9c4b-9fdc69b94eb8&amp;lang=zh-cn', 'pcpid', '']);">
                <img rel="nofollow" src="/static/index/index/img/truste.png" alt="TRUSTe Privacy Certification">
            </a>
            <a rel="nofollow" href="https://search.szfw.org/cert/l/CX20120926001783002010" target="_blank" data-stat-id="f0877449bc91038d"
                onclick="_msq.push(['trackEvent', '81190ccc4d52f577-f0877449bc91038d', '//search.szfw.org/cert/l/CX20120926001783002010', 'pcpid', '']);">
                <img rel="nofollow" src="/static/index/index/img/v-logo-2.png" alt="诚信网站">
            </a>
            <a rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=e12033011010015771301369&amp;ct=df&amp;pa=461082" target="_blank"
                data-stat-id="2173f8773b3dc666" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-2173f8773b3dc666', 'https://ss.knet.cn/verifyseal.dllsn=e12033011010015771301369&amp;ct=df&amp;pa=461082', 'pcpid', '']);">
                <img rel="nofollow" src="/static/index/index/img/v-logo-1.png" alt="可信网站">
            </a>
            <a rel="nofollow" href="http://www.315online.com.cn/member/315140007.html" target="_blank" data-stat-id="d2aa5eabb354499e"
                onclick="_msq.push(['trackEvent', '81190ccc4d52f577-d2aa5eabb354499e', 'http://www.315online.com.cn/member/315140007.html', 'pcpid', '']);">
                <img rel="nofollow" src="/static/index/index/img/v-logo-3.png" alt="网上交易保障中心">
            </a>
            <a rel="nofollow" href="https://www.mi.com/service/buy/commitment/" target="_blank" data-stat-id="075070cd3386be85" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-075070cd3386be85', 'https://www.mi.com/service/buy/commitment/', 'pcpid', '']);">
                <img rel="nofollow" src="/static/index/index/img/ba10428a4f9495ac310fd0b5e0cf8370.png" alt="诚信经营 放心消费">
            </a>
        </div>
    </div>
    <div class="slogan ir">探索黑科技，小米为发烧而生</div>
</div>
<div id="J_modalWeixin" class="modal fade modal-hide modal-weixin" data-width="480" data-height="520">
    <div class="modal-hd">
        <a class="close" data-dismiss="modal" data-stat-id="a0641baa711604bc" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-a0641baa711604bc', '', 'pcpid', '']);">
            <i class="iconfont"></i>
        </a>
        <span class="title">小米手机官方微信二维码</span>
    </div>
    <div class="modal-bd">
        <img alt="" src="/static/index/index/img/weixin.jpg" width="680" height="340">
    </div>
</div>
<!-- .modal-weixin END -->
<div class="modal modal-hide modal-bigtap-queue" id="J_bigtapQueue">
    <div class="modal-body">
        <span class="close" data-dismiss="modal" aria-hidden="true">退出排队</span>
        <div class="con">
            <div class="title">正在排队，请稍候喔！</div>
            <div class="queue-tip-box">
                <p class="queue-tip">当前人数较多，请您耐心等待，排队期间请不要关闭页面。</p>
                <p class="queue-tip">时常来官网看看，最新产品和活动信息都会在这里发布。</p>
                <p class="queue-tip">下载小米商城 App 玩玩吧！产品开售信息抢先知道。</p>
                <p class="queue-tip">发现了让你眼前一亮的小米产品，别忘了分享给朋友！</p>
                <p class="queue-tip">产品开售前会有预售信息，关注官网首页就不会错过。</p>
            </div>
        </div>

        <div class="queue-posters">
            <div class="poster poster-3"></div>
            <div class="poster poster-2"></div>
            <div class="poster poster-1"></div>
            <div class="poster poster-4"></div>
            <div class="poster poster-5"></div>
        </div>
    </div>
</div>
<!-- .xm-dm-queue END -->
<div id="J_bigtapError" class="modal modal-hide modal-bigtap-error">
    <span class="close" data-dismiss="modal" aria-hidden="true">
        <i class="iconfont"></i>
    </span>
    <div class="modal-body">
        <h3>抱歉，网络拥堵无法连接服务器</h3>
        <p class="error-tip">由于访问人数太多导致服务器压力山大，请您稍后再重试。</p>
        <p>
            <a class="btn btn-primary" id="J_bigtapRetry" data-stat-id="cb61bccda6f25a90" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-cb61bccda6f25a90', '', 'pcpid', '']);">重试</a>
        </p>
    </div>
</div>


<div id="J_bigtapModeBox" class="modal fade modal-hide modal-bigtap-mode">
    <span class="close" data-dismiss="modal">
        <i class="iconfont"></i>
    </span>
    <div class="modal-body">
        <h3 class="title">为防黄牛，请您输入下面的验证码</h3>
        <p class="desc">在防黄牛的路上，我们一直在努力，也知道做的还不够。
            <br> 所以，这次劳烦您多输一次验证码，我们一起防黄牛。
        </p>
        <div class="mode-loading" id="J_bigtapModeLoading">
            <img src="/static/index/index/img/loading.gif" alt="" width="32" height="32">
            <a id="J_bigtapModeReload" class="reload  hide" href="javascript:void(0);" data-stat-id="2de5b45717f3289e" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-2de5b45717f3289e', 'javascript:void0', 'pcpid', '']);">网络错误，点击重新获取验证码！</a>
        </div>
        <div class="mode-action hide" id="J_bigtapModeAction">
            <div class="mode-con" id="J_bigtapModeContent"></div>
            <input name="bigtapmode" class="input-text" id="J_bigtapModeInput" placeholder="请输入正确的验证码" type="text">
            <p class="tip" id="J_bigtapModeTip"></p>
            <a class="btn  btn-gray" id="J_bigtapModeSubmit" data-stat-id="656c3e98016a0d8a" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-656c3e98016a0d8a', '', 'pcpid', '']);">确认</a>
        </div>
    </div>
</div>
<!-- .xm-dm-error END -->
<div id="J_modal-globalSites" class="modal fade modal-hide modal-globalSites" data-width="640">
    <div class="modal-hd">
        <a class="close" data-dismiss="modal" data-stat-id="a0641baa711604bc" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-a0641baa711604bc', '', 'pcpid', '']);">
            <i class="iconfont"></i>
        </a>
        <span class="title">Select Region</span>
    </div>
    <div class="modal-bd">
        <h3>Welcome to Mi.com</h3>
        <p class="modal-globalSites-tips">Please select your country or region</p>
        <p class="modal-globalSites-links clearfix">
            <a href="https://www.mi.com/index.html" data-stat-id="74f611a5becb8ab3" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-74f611a5becb8ab3', '//www.mi.com/index.html', 'pcpid', '']);">Mainland China</a>
            <a href="http://www.mi.com/hk/" data-stat-id="47b3d14243a6979a" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-47b3d14243a6979a', 'http://www.mi.com/hk/', 'pcpid', '']);">Hong Kong</a>
            <a href="http://www.mi.com/tw/" data-stat-id="39be7f7204c18e9b" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-39be7f7204c18e9b', 'http://www.mi.com/tw/', 'pcpid', '']);">Taiwan</a>
            <a href="http://www.mi.com/sg/" data-stat-id="5ee0873c1fb67784" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-5ee0873c1fb67784', 'http://www.mi.com/sg/', 'pcpid', '']);">Singapore</a>
            <a href="http://www.mi.com/my/" data-stat-id="e93c5e33550a344f" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e93c5e33550a344f', 'http://www.mi.com/my/', 'pcpid', '']);">Malaysia</a>
            <a href="http://www.mi.com/ph/" data-stat-id="e45a28d9ba0d0713" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e45a28d9ba0d0713', 'http://www.mi.com/ph/', 'pcpid', '']);">Philippines</a>
            <a href="http://www.mi.com/in/" data-stat-id="4914aa83e2235b58" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-4914aa83e2235b58', 'http://www.mi.com/in/', 'pcpid', '']);">India</a>
            <a href="http://www.mi.com/id/" data-stat-id="1037d12663c03979" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-1037d12663c03979', 'http://www.mi.com/id/', 'pcpid', '']);">Indonesia</a>
            <a href="http://www.mi.com/en/" data-stat-id="2b5abd6d146e925a" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-2b5abd6d146e925a', 'http://www.mi.com/en/', 'pcpid', '']);">Global Home</a>
            <a href="http://www.mi.com/mena/" data-stat-id="8fe286560458efa1" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-8fe286560458efa1', 'http://www.mi.com/mena/', 'pcpid', '']);">MENA</a>
            <a href="http://www.mi.com/pl/" data-stat-id="599097ab645a3dee" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-599097ab645a3dee', 'http://www.mi.com/pl/', 'pcpid', '']);">Poland</a>
            <a href="http://www.mi.com/ua/" data-stat-id="562a0a3540bd58a0" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-562a0a3540bd58a0', 'http://www.mi.com/ua/', 'pcpid', '']);">Ukraine</a>
            <a href="http://www.mi.com/ru/" data-stat-id="a8f64f35eccfdc67" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-a8f64f35eccfdc67', 'http://www.mi.com/ru/', 'pcpid', '']);">Russia</a>
            <a href="http://www.mi.com/vn/" data-stat-id="d2f24ed05c04b923" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-d2f24ed05c04b923', 'http://www.mi.com/vn/', 'pcpid', '']);">Vietnam</a>
            <a href="http://www.mi.com/mx/" data-stat-id="0af2c5d87190c841" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-0af2c5d87190c841', 'http://www.mi.com/mx/', 'pcpid', '']);">Mexico</a>
            <a href="http://www.mi.com/kr/" data-stat-id="f0f92536e4022f1c" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-f0f92536e4022f1c', 'http://www.mi.com/kr/', 'pcpid', '']);">Korea</a>
            <a href="http://www.mi.com/eg/" data-stat-id="e974a186941b1b29" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-e974a186941b1b29', 'http://www.mi.com/eg/', 'pcpid', '']);">Egypt</a>
            <a href="http://www.mi.com/th/" data-stat-id="4a40945e55b35c2d" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-4a40945e55b35c2d', 'http://www.mi.com/th/', 'pcpid', '']);">Thailand</a>
            <a href="http://www.mi.com/es/" data-stat-id="c22e48c1e9ab2f2e" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-c22e48c1e9ab2f2e', 'http://www.mi.com/es/', 'pcpid', '']);">Spain</a>
            <a href="http://www.mi.com/us/" data-stat-id="bed3d0d0411856ce" onclick="_msq.push(['trackEvent', '81190ccc4d52f577-bed3d0d0411856ce', 'http://www.mi.com/us/', 'pcpid', '']);">United States</a>
        </p>
    </div>
</div>
<!-- .modal-globalSites END -->
<script src="/static/index/index/js/base.js"></script>
<script>
    (function () {
        MI.namespace('GLOBAL_CONFIG');
        MI.GLOBAL_CONFIG = {
            orderSite: '//order.mi.com',
            orderSSLSite: 'https://order.mi.com',
            wwwSite: '//www.mi.com',
            cartSite: '//cart.mi.com',
            itemSite: '//item.mi.com',
            assetsSite: '//s01.mifile.cn',
            listSite: '//list.mi.com',
            searchSite: '//search.mi.com',
            mySite: '//my.mi.com',
            damiaoSite: '//tp.hd.mi.com/',

            damiaoGoodsId: ["2160400006", "2160400007", "2162100004", "2162800010", "2155300001", "2155300002", "2163500025", "2163500026", "2163500027", "2164200021", "2142400036", "2170800008", "2171000055", "2171500039", "2171600005", "1171800032", "1171800031", "1171800030", "1171800035", "1171800034", "1171800033", "1172000058", "2171500038", "2171800016", "2171500037", "2171900024"],

            logoutUrl: '//order.mi.com/site/logout',
            staticSite: '//static.mi.com',
            quickLoginUrl:
            'https://account.xiaomi.com/pass/static/login.html'
        };
        MI.setLoginInfo.orderUrl = MI.GLOBAL_CONFIG.orderSite +
            '/user/order';
        MI.setLoginInfo.logoutUrl = MI.GLOBAL_CONFIG.logoutUrl;
        MI.setLoginInfo.init(MI.GLOBAL_CONFIG);
        MI.miniCart.init();
        MI.updateMiniCart();
    })();
</script>
<script src="/static/index/index/js/home.js"></script>
<script src="/static/index/index/js/xmsg_ti.js"></script>
<script>
    var _msq = _msq || [];
    _msq.push(['setDomainId', 100]);
    _msq.push(['trackPageView']);
    (function () {
        var ms = document.createElement('script');
        ms.type = 'text/javascript';
        ms.async = true;
        ms.src = '//i1.mifile.cn/f/i/17/stat/xmst.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ms, s);
    })();
</script>
<!--mae_monitor-->

</body>

</html>


